html, body {
    margin  : 0;
    padding : 0;
    height  : 100%;
    width   : 100%;
}
/* NOT AVAILABLE IN CSS3
*:has( > .game_div) {
    position: relative;
}
*/
.game_div {
    position : absolute;
    display: block;
    margin : auto;
    padding : 0;
    left : 50%;
    top : 50%;
    transform : translate(-50%, -50%);
    background: transparent;
}
.game_canvas, .game_ui {
    margin : 0;
    position : absolute;
    top  : 0;
    left : 0;
    background: transparent;
}
.game_ui {
    left: 50%;
    top: 50%;
    display: inline-block;
    transform : translate(-50%, -50%);
}